{% load static %}
{% block header %}
<header id="cabecalho" class="pt-5 pb-5 ps-0 pe-0">
    <div class=" bg-1 color-light-dark fw-bold text-shadow-light b-tb-4-ld shadow text-center">
        <div class="container max-height-150">
            <div class="d-md-flex align-items-center">
                <div class="col-md-2">
                    <div class="mt-4 mt-md-auto">
                        <img src="{% static 'logos/ose.svg' %}" class="rounded-circle img-150" alt="...">
                    </div>
                </div>
                <div class="col-md-10 d-md-flex justify-content-start pr-15">
                    <p class="fs-2">OSE - Observatório Socioeconômico da COVID-19</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-menu text-shadow-dark menu ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand ocultar-desktop" href="#">Menu</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto dec2">
                        <li class="nav-item">
                            <a class="nav-link nav-link-first custom-underline" href="{% url 'pagina_inicial' %}"><i class="fas fa-home"></i>Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-underline" href="{% url 'dados' %}"><i class="fas fa-database"></i>Dados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-underline" href="{% url 'equipe' %}"><i class="fas fa-users"></i>Equipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-underline" href="{% url 'analises_de_conjuntura' %}"><i class="fas fa-paperclip"></i>Análises de Conjuntura</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-underline" href="{% url 'textos_para_discussao' %}"><i class="fas fa-sticky-note"></i>Textos para Discussão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-last custom-underline" href="{% url 'textos_oficiais' %}"><i class="fas fa-scroll"></i>Textos Oficiais</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}