{% extends "admin/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard{{ title }} | {{ site_title|default:'Observatório Socieconômico da COVID-19 UFSM' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'Observatório Socieconômico da COVID-19 UFSM' }}</a></h1>
{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<style>
:root {
  --primary: #79aec8;
  --secondary: #417690;
  --accent: #f5dd5d;
  --primary-fg: #fff;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #ffc;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: #447e9b;
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #609ab6;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"],'language': 'pt-br'});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Abrangência', 'Contagem dos Dados', { role: "style" }],
            ['Federal',     {{cont_dados_paises}}, '#8b0000'],
            ['Estadual',      {{cont_dados_estados}}, '#c23e15'],
            ['Municipal',  {{cont_dados_municipios}}, '#d88e07'],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([
            0, 
            1,
            { calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation" },
            ]);
        var options = {
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };

        var chart = new google.visualization.BarChart(document.getElementById('dados_coletados'));
        chart.draw(view, options);
    }
</script>
{% endblock %}

{% block nav-global %}{% endblock %}

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
    
        {% block usertools %}
        {% if user.is_authenticated %}
        <div id="user-tools">
            {% block welcome-msg %}
                Bem-vindo(a),
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                <a href="{% url 'admin:index' %}">Ver o site</a> /
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">Alterar Senha</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">Encerrar Sessão</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}

    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Início</a> › 
    <a href="{% url 'dashboard' %}">Dashboard</a>
    </div>
    {% endblock %}

    
</div>
{% block messages %}
    {% if messages %}
        <ul class="messagelist">{% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
    {% endif %}
{% endblock messages %}

{% block content %}
    <h2>Dados Coletados - Por Abrangência</h2>
    <div id="dados_coletados" style="width: 100%; min-height: 300px;"></div>
    <b><p>Total: {{cont_dados_total|intcomma}}</p></b>
{% endblock %}
