{% block footer %}
<footer class="py-4 bg-1 color-light-dark fw-bold fs-5 text-shadow-light b-tb-4-ld shadow dec3 auto">
    <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center text-lg-start text-center">
        <p class="mb-1 col-lg-2 col-sm-12 order-lg-1 text-center">
            <a href="#cabecalho" class="">Ir para o topo<span class="span-i"><i class="ps-1 fas fa-hand-point-up"></i></span></a>
        </p>
        <div class="order-lg-0">
            <p class="mb-1">2020-2021 © Observatório Socioeconômico da COVID-19</p>
            <p class="mb-0">Desenvolvido por: Patrick A. C. Guerra</p>
        </div>
    </div>
</footer>
{% endblock %}