{% extends "dados/base.html" %}
{% load static %}
{% load humanize %}
{% load format_data %}
{% block title %}Dados Estaduais - {% if estado %}{{ estado.nome }}{% endif %}{% endblock %}
{% block content %}
<div class=" box-t1 br-1 bc-1 mb-4-5 d-shadow">
        <div class="p-md-4 p-0 pt-0 tsd2">
            <h1 class="fw-bold fs-1 text-center color-light-dark-2 mb-3"><i class="fas fa-database me-3"></i>Dados Estaduais - {% if estado %}{{ estado.nome }}{% endif %} - Tabela e Fontes de Dados</h1>
            {% include "dados/breadcrumb_ini.html" %}
                    <li class="breadcrumb-item"><a href="{% url 'pagina_inicial' %}">OSE</a></li>
                    <li class="breadcrumb-item color-light-dark-2"><a href="{% url 'dados' %}">Dados</a></li>
                    <li class="breadcrumb-item color-light-dark-2"><a href="{% url 'estados' %}">Estaduais</a></li>
                    <li class="breadcrumb-item color-light-dark-2"><a href="{% url 'estado' estado=estado.nome_normalizado %}">{% if estado %}{{ estado.nome }}{% endif %}</a></li>
                    <li class="breadcrumb-item active color-light-dark-2" aria-current="page">Tabela e Fontes de Dados</li>
            {% include "dados/breadcrumb_end.html" %}
            <div class="fs-5"><p>Última Atualização em: {{ultima_atualizacao}}</p></div>
            <div class="text-center bgg-4 py-1 c-white br-3 mb-3"><h3 class="pt-0 fw-bold">Tabela de Dados</h3></div>
            <div class="bg-white border dec3">
            <table id="dados" class="cell-border display" style="width:100%">
                <thead>
                    <tr>
                        <th>Data</th>{% for var in vars %}<th>{{var.nome}}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
{% for d in datas %}<tr><td>{{d.datafinal}}</td>{% for a in d.valores %}<td>{{a.valor|default_if_none:"-"|no_zero:a.variavel__unidade|intcomma|insert_unit:a.variavel__unidade}}</td>{% endfor %}</tr>{% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Data</th>{% for var in vars %}<th>{{var.nome}}</th>{% endfor %}
                    </tr>
                </tfoot>
            </table>
            </div>

            <div class="text-center bgg-4 py-1 c-white br-3 mb-3 mt-3"><h3 class="pt-0 fw-bold">Fontes de Dados</h3></div>
            <div class="bg-white border dec3">
            <table id="fontes-de-dados" class="cell-border display" style="width:100%">
                <thead>
                    <tr>
                        <th>Variável</th>
                        <th>Fonte</th>
                    </tr>
                </thead>
                <tbody>
{% for v in vars %}<tr><td>{{v.nome}}</td><td>{% if v.fonte__url != '' and v.fonte__url != None %}<a href="{{v.fonte__url}}" target="_blank">{{v.fonte__nome}}</a>{% else %}{{v.fonte__nome}}{% endif %}</td></tr>{% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Variável</th>
                        <th>Fonte</th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra-scripts %}
{% include "dados/tabelas_js.html" %}
{% endblock %}