{% block extra-scripts %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
var cores = ['#8b0000','#c23e15','#d88e07','#388e3c','#00838f','#2284be','#1565c0','#3949ab','#6a1b9a','#98199a','#880e4f'];
google.charts.load('current', {'packages':['corechart'], 'language': 'pt-br'});
{% load l10n %}
{% autoescape on %}
{% for grafico in graficos %}
google.charts.setOnLoadCallback(drawchart{{grafico.id}});
function drawchart{{grafico.id}}() {
    var data{{grafico.id}} = new google.visualization.arrayToDataTable([['Mês',
    {% for variavel_grafico in variaveis_graficos %}
        {% if variavel_grafico.grafico.id == grafico.id %}
            {% for variavel_pais in variaveis_pais %}
                {% if variavel_pais.id == variavel_grafico.variavel.id %}
                    '{{variavel_pais.nome}}{% if variavel_pais.unidade == 'REAL' %} (R$){% elif variavel_pais.unidade == 'PORC' %} (%){% elif variavel_pais.unidade == 'DOLA' %} ($){% elif variavel_pais.unidade == 'EURO' %} (€){% endif %}'
                    {% if not forloop.forloop.forloop.last %},{% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}],
    {% for data_atual in datas %}['{{data_atual.datafinal}}', 
        {% for variavel_grafico in variaveis_graficos %}
            {% if variavel_grafico.grafico.id == grafico.id %}
                {% for var_int_valor_atual in variaveis_pais_inteiro %}
                    {% if var_int_valor_atual.variavel.id == variavel_grafico.variavel.id and var_int_valor_atual.data == data_atual.data %}
                        {% if var_int_valor_atual.valor != None %}{{var_int_valor_atual.valor|unlocalize}},{% else %}null,{% endif %}
                    {% endif %}
                {% endfor %}
                {% for var_dec_valor_atual in variaveis_pais_decimal %}
                    {% if var_dec_valor_atual.variavel.id == variavel_grafico.variavel.id and var_dec_valor_atual.data == data_atual.data %}
                        {% if var_dec_valor_atual.valor != None %}{{var_dec_valor_atual.valor|unlocalize}},{% else %}null,{% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}],
    {% endfor %}]);
var options{{grafico.id}} = {
    lineWidth: 3,
    pointSize: 8,
    /*title: '{{grafico.nome}}',*/
    colors: [
    {% for cor_atual in grafico.indice_cores %}
        cores[{{cor_atual}}],
    {% endfor %}
    ],
    'is3D':true,
    legend: { position: 'top' },
    height: 400,
};
var chart{{grafico.id}} = new google.visualization.LineChart(document.getElementById('grafico{{grafico.id}}'));
chart{{grafico.id}}.draw(data{{grafico.id}}, options{{grafico.id}});
}
{% endfor %}
{% endautoescape %}
</script>
{% endblock %}